*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.projecthighlight{
    width: 100%;
    background: #f7f2ec;
    padding: 50px 0px;
}
.projecthighlight h2{
    text-align: center;
    color: blue;
}
.project-mid{
    width: 1320px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    
}
.project-item{
    width: 20%;
    text-align: center;
    padding: 20px 0px;
}
.project-item img{
    width: 100px;
}