*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    font-family: sans-serif;
}

.main{
    width: 1000px;
    margin: auto;
}
.row1{
    display: flex;
    width:1000px ;
    height: 186px;
    background-image: url(images/headerbg.jpg);
    background-repeat: repeat-x; 
}
.row1c1{
    width: 250px;
    height: 160px;
    margin-left: 20px;
    margin-top: 15px;
}
.row1c2{
    width: 400px;
    height: 186px;
    font-size: 18px;
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.row1c3{
    width: 296px;
    height: 132px;
    margin: 15px;
    padding: 15px;
    background: url("images/topcontactbg.png");
}

.web{
    font-size:22px ;
    margin-bottom: 7px;
}

.web a{
    color: black;
}

.email a{
    color: black;
}

.email{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}
.phone{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.phone a{
    color: white;
}

.row2{
    width: 1000px;
    height: 50px;
    background: url(images/menubg.jpg) repeat-x;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.menuitems{
    width: 127px;
    height: 44px;
    text-align: center;
    padding-top:12px ;
    margin-top: 6px;
    background: url(images/menubackground.png);
}

.menuitems a{
    color: black;
    font-weight: bold;
}

.row3{
    width: 1000px;
    margin: 10px 0px;
    display: flex;
}

.row3left{
    width: 213px;
    height: 240px;
    margin-left:20px ;
}
.row3leftmenuitems{
    width: 213px;
    padding-top: 10px;
    text-align: center;
    height: 40px;
    background: url(images/leftmenubg.png);
    
}
.row3leftmenuitems a{
    color: black;
}

.row3right{
    width: 750px;
    height: 240px;
    margin-left: 15px;
}
.row4{
    width: 1000px;
    margin-bottom: 15px;
    display: flex;
}
.row4c1{
    width: 213px;
    height: 189px;
    background: url(images/whybg.jpg);
    border: 1px solid white;
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}
.row4c1 h4{
    text-align: center;
    color: white;
    text-decoration: underline; 
    padding: 8px 0px;
}
.row4c1 ol{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;

}
.row4c2{
    width: 350px;
    background: orange;
    margin-left: 15px;
}
.row4c2 h4{
    padding-left: 10px;
    margin-bottom: 7px;
    margin-top: 10px;
    font-weight: bold;
}

.row4c2 ol{
    padding-left: 30px;
    padding-bottom: 15px;
    font-weight: bold;
}
.row4c3{
    width: 350px;
    margin-left: 15px;
}
.row5{
    width: 1000px;
    border-radius:10px ;
    height: 48px;
    background: url(images/footer_middle.png);
    text-align: center;
    padding-top: 10px;
    
}

/*about page*/
.row3rightinnerpage{
    width: 750px;
    background: white;
    margin-left: 15px;
    padding: 15px;
}
.row3rightinnerpage h1{
    margin-bottom: 20px;
}
.row3rightinnerpage p{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
.row3rightinnerpage h3{
    margin-top: 15px;
}
.row3rightinnerpage ol{
    margin-left: 20px;
    margin-top: 20px;
}

/*course*/
.courseitems{
    font-size:22px ;
    margin-bottom: 10px;
    color: gray;
}

/*Gallery*/
.row3rightinnerpage img{
    margin: 10px;
}